---
layout: default
---

<div class="card">
    <div class="card-face">
        <div class="content">
            <div class="content-top">
                <div class="name">Max Spaulding</div>
            </div>
            <div class="content-bottom">
                <div class="content-bottom-top">
                    <div class="divider"></div>
                    <div class="title">Architect and Engineering Lead</div>
                </div>
                <div class="content-bottom-bottom">
                    <div class="icon_row">
                        <div class="icon">
                            <a href="mailto:maxjspaulding@gmail.com">
                            {% include svgs/envelope_email_icon.svg %}
                            </a>
                        </div>
                        <div class="icon">
                            <a href="https:www.linkedin.com/in/maxjspaulding">
                            {% include svgs/linkedin_icon.svg %}
                            </a>
                        </div>
                        <div class="icon">
                            <!-- <a href=""> -->
                            {% include svgs/id_card_icon.svg %}
                            <!-- </a> -->
                        </div>
                        <div class="icon">
                            <!-- <a href=""> -->
                            {% include svgs/github_icon.svg %}
                            <!-- </a> -->
                        </div>                
                        <div class="icon">
                            <!-- <a href=""> -->
                            {% include svgs/pen_icon.svg %}
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="title last-title">San Francisco, Ca</div>
                </div>
            </div>
    </div>
</div>
